<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AtriiV2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <AtriiV2.My.MySettings>
            <setting name="EmpX" serializeAs="String">
                <value>711</value>
            </setting>
            <setting name="EmpN" serializeAs="String">
                <value>**سها**</value>
            </setting>
            <setting name="AEmail" serializeAs="String">
                <value>hossam@jubar.me</value>
            </setting>
            <setting name="StmpH" serializeAs="String">
                <value>mail.jubar.me</value>
            </setting>
            <setting name="StmpU" serializeAs="String">
                <value>hossam@jubar.me</value>
            </setting>
            <setting name="StmpP" serializeAs="String">
                <value>Hemonad105046!</value>
            </setting>
            <setting name="StmpR" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="FEmail" serializeAs="String">
                <value>voca@jubar.me</value>
            </setting>
            <setting name="Job1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Job2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Job3" serializeAs="String">
                <value>True</value>
            </setting>
        </AtriiV2.My.MySettings>
    </userSettings>
</configuration>